@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('http://114.215.202.155/iconfont.ttf') format('truetype');
}

.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}

.icon-bbghuoyun:before {
  content: "\e675";
}

.icon-zhanghu:before {
  content: "\e632";
}

.icon-wodeshoucang:before {
  content: "\e612";
}

.icon-wode:before {
  content: "\e722";
}

.icon-gerenxinxi:before {
  content: "\e608";
}

.icon-clipboard:before {
  content: "\e642";
}

.icon-truck:before {
  content: "\e613";
}

.icon-tupian-copy:before {
  content: "\e602";
}

.icon-dianhuaben:before {
  content: "\e62e";
}

.icon-qiandinghezuoxieyi:before {
  content: "\e638";
}

.icon-id:before {
  content: "\e601";
}

.icon-rili:before {
  content: "\e688";
}

.icon-dingbufenbu-copy:before {
  content: "\e61e";
}

.icon-12115:before {
  content: "\e657";
}

.icon-dial:before {
  content: "\e60d";
}

.icon-pingzhengzhongxin:before {
  content: "\e622";
}

.icon-dianhua:before {
  content: "\e60e";
}

.icon-tianjialianxiren:before {
  content: "\e6e0";
}

.icon-drawings:before {
  content: "\e634";
}

.icon-xiaolian-line:before {
  content: "\e6a2";
}

.icon-paishe:before {
  content: "\e603";
}

.icon-dizhi:before {
  content: "\e605";
}

.icon-qingdanguanli:before {
  content: "\e799";
}

.icon-tongjixinxi:before {
  content: "\e60c";
}

.icon-wuliu:before {
  content: "\e674";
}

.icon-chakanwuliuxinxi:before {
  content: "\e667";
}

.icon-ren-copy:before {
  content: "\e606";
}

.icon-changdu:before {
  content: "\e609";
}

.icon-icon-:before {
  content: "\e615";
}

.icon-gouwuche:before {
  content: "\e600";
}

.icon-zhanghu1:before {
  content: "\e607";
}

.icon-danweigaikuang:before {
  content: "\e60f";
}

.icon-dui:before {
  content: "\e646";
}

.icon-daohang:before {
  content: "\e643";
}

.icon-shouhuo-wuliuxiangqing:before {
  content: "\e610";
}

.icon-renshu:before {
  content: "\e604";
}

.icon-renshu1:before {
  content: "\e6c8";
}

.icon-shouye:before {
  content: "\e631";
}

.icon-zijinguanli:before {
  content: "\e751";
}

.icon-markedcalendarp:before {
  content: "\e7c6";
}

.icon-renshu2:before {
  content: "\e645";
}

.icon-jiahao:before {
  content: "\e61c";
}

.icon-comments:before {
  content: "\e98f";
}

.icon-xin:before {
  content: "\e60b";
}

